{% extends 'base.html.twig' %}

{% block title %}Campaign{% endblock %}

{% block body %}
    <h1>Campaign</h1>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{ campaign.title }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par :{{ campaign.name }} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/8.jpg" alt="Titre de la campagne"></div>
    </div>

    <!-- Show progress -->
    {# <section class="progress-section">
        <div class="progress">
            <div class="determinate" style="width: {{ objectif }}%"><span>{{ objectif }}% de l'objectif</span></div>
        </div>
    </section> #}

    <div class="container participe">
        <div class="section">
            
            <div class="row">
                <div class="col s12 center">
                    <h4>{{ campaign.content }}</h4>
                </div>
            </div>
            <!--   Icon Section   -->
            {# <div class="row">
                <div class="col s12 m6 l3 offset-l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">person</i></div>
                        <h3 class="center">{{ total_participant }}</h3>
                        <p class="light">Participants</p>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">redeem</i></div>
                        <h3 class="center">{{ total_amount2 }}</h3>
                        <p class="light">euros récoltés</p>
                    </div>
                </div>
            </div> #}
            <!-- Form section -->
            <div class="row">
                <form action="{{ path('spending_new', {'id': campaign.id})}}" method="post" id="payment-form">
                    <div class="input-field col s12">
                        <label for="email">Email</label>
                        <input id="email" type="email"  value="" name="email">
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="name" type="text"  value="" name="name">
                        <label for="goal">Nom</label>
                    </div>
                    <div class="input-field col s12">
                        <label for="description">Produits</label>
                        <input id="email" type="text"  value="" name="label">
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="goal" type="number"  value="" name="amount_spending">
                        <label for="goal">Valeur des achats</label>
                    </div>
                    <div class="col s12 l6 offset-l3">
                    <input type="hidden" name="campaign_id" value="{{ campaign.id }}" >
                        <button class="btn btn-large waves-effect waves-light col s12" type="submit" name="action">
                            Ajouter des depenses
                            <i class="material-icons right">edit</i>
                        </button>
                    </div>
                </form>
            </div>
            <br><br><br><br>
            <div class="row">
                <form>
                    <div class="input-field col s12">
                        <label for="description">Description</label>
                        <textarea id="description" class="materialize-textarea" readonly="readonly">{{ campaign.content }}</textarea>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="goal" type="number" readonly="readonly" value="{{ campaign.goal }}">
                        <label for="goal">Objectif</label>
                    </div>
                    <div class="col s12 l6 offset-l3">
                        <button class="btn btn-large waves-effect waves-light col s12" type="submit" name="action">
                            Modifiez la campagne
                            <i class="material-icons right">edit</i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- List -->
            <div class="row">
                <div class="col s12 center">
                    <h4>Liste des depenses</h4>
                </div>
                <div class="col s12">
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Montant</th>
                            <th>Participation</th>
                        </tr>
                        </thead>

                         <tbody>
                        {# {% for result in results %}
                        <tr>
                            <td>{{result.name}}</td>
                            <td>{{result.amount /100}}</td>
                            <td>{{result.email}}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td rowspan="3">Pas de participants</td>
                        {% endfor %} #}
                        
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">Une campagne pensée pour vous<br>et pour toutes les occasions</h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/10.jpg" alt="Une campagne pensée pour vous"></div>
    </div>

    <a href="{{ path('campaign_index') }}">back to list</a>

    <a href="{{ path('campaign_edit', {'id': campaign.id}) }}">edit</a>

    {{ include('campaign/_delete_form.html.twig') }}
{% endblock %}
